@using Microsoft.Extensions.Options
@using PawPadIO.Hub.Web.Models
@{
    ViewData["Title"] = "PawPadIO.Hub.Web Home";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Hi @User.Identity.Name</h1>
}
else
{
    <br />
}

